.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.color-nav{
  background: #990033;
  color:#fff;
  font-family: 'Merienda', cursive;

}

.nav-content-style{
  background: antiquewhite;
}
