.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-header-image {
  background-image: url('https://scontent.fmnl17-1.fna.fbcdn.net/v/t1.0-9/67487235_200305970958580_3067923851389173760_n.jpg?_nc_cat=105&_nc_oc=AQlQ0wUdsVoX1nSx9zbUxyi0ACeYvBrOr2LjvGpvIuspHBFAY5tPAn7NTWSLObPQ7cA&_nc_ht=scontent.fmnl17-1.fna&oh=b44d7546afb1ae47f81c8f8455f09d7c&oe=5E08D4B2');
  background-size: cover;
}
